/* ------------- header ---------------- */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: cornsilk;
    padding-top: 2vh;
}


/* ------------- main -------------- */

main{
    align-items: center;
}
.form, form{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -------------- footer ------------ */

footer{
    display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    border: crimson solid;
}

#lienperso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: blue solid
}
#grplogo{
    display: flex; 
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 100vw;
    border: pink solid;
}
/* === Liste des articles === */
.inline-article
{
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 7vh;
    margin: 20px;
    background-color: rgb(74, 35, 110);
    justify-content: space-between;
}

.inline-article *
{
    margin: 0;
    align-self: center;
    text-decoration: none;
}

.inline-article-link
{
    text-decoration: none;
    color: white;
}

.inline-article:hover
{
    background-color: rgb(124, 60, 184)
}

#nav
{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
}