*{
    margin: 0;
    padding:0;
}

/* ------------- header ---------------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #01497c;
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-family: ZCOOL kuaile;
    
}
#lienheader{
    text-decoration: none;
    
    font-weight: bolder;
    /* border: solid black; */
    background-color: #468faf;
    border-radius: 15%;
    justify-content: space-around;
    padding: 1%;
    box-shadow: 7px 5px 9px  #012a4a, -0.5em 0 .4em #012a4a;
   
    
}
a:link {color:black;}              /* Lien non visité */
a:visited {color:rgb(65, 63, 63);}          /* Lien visité */
a:hover {color:#fa0808;}            /* Lien survolé*/
a:active {color:#050507;}           /* Lien sélectionné */


/* ------------- main -------------- */

main{
    align-items: center;
    justify-content:center;
    text-align: center;
    font-family: Lambola;
    padding:2%
}
h1{
    padding-top: 2%;
}

#article-form{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #61a5c2;
    border: black solid;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    margin-top: 5%;
}

#formnewcatart, #formidd, #formart, #formprof, #formins, #formcon{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #61a5c2;
    border: black solid;
    /* border-radius: 15%; */
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}



/*---------------- page admin ------------------*/
#h1admin{
    padding-top: 7vh;
    padding-bottom:3vh;
}
#tableuser, #tablecat{
    display: flex;
    justify-content:center;
    border: black solid;
    padding:1%;
    background-color: #61a5c2;
    border-radius: 15%;
    box-shadow: 7px 5px 9px  #012a4a, -0.5em 0 .4em #012a4a;    
    /* border-radius:45%; */
    margin-bottom: 3vh;     
}

#tableuser
{
    margin-left: 30vw;
    margin-right:30vw;
}

#tablecat{
    margin-left: 40vw;
    margin-right:40vw; 
}
thead, tbody, tr, td{
    border:black solid;
    padding-top:1%;
    padding-bottom: 1%;
    padding-right: 1%;
    margin-left: 1%;    
}   

/*--------------- fin page admin ---------------*/

#pageprofil{
    margin-top: 2%;
}

/* -------------- footer ------------ */

footer{
    background-color: #014f86;
    padding: 2vh;
    display: flex;
    justify-content: space-around;
    margin-top:10%;
}

#lienperso{
    display: flex;
    align-items: initial;
    justify-content:space-around;
}
#grplogo{
    display: flex; 
    /* justify-content: end; */
    width: 10%;
    padding-top: 1%;
    font-family: ZCOOL kuaile;
}
#lienfooter{
    text-decoration: none;
    background-color: #468faf;
    border-radius: 15%;
    justify-content: space-between;
    padding: 1%;
    box-shadow: 10px 5px 5px #012a4a;
    font-family: ZCOOL kuaile;
    
}

/* essai hover titre */

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h1 {
    position: relative;
    font-size: 5rem;
  }

  #h1admin::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  #h1admin:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #h1admin::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  #h1admin {
    position: relative;
    font-size: 2rem;
  }

article
{
	border: 2px solid blue;
	border-radius: 10px;
	background-color: #6c94d4;
	margin: 30px;
}

article *
{
	padding: 20px;
}

article h1
{
	font-size: 4em;
	background-color: blue;
}

article p
{
	background-color: #82b2ff;
}